.searchInp {
	position: relative;
	width: 100%;
	.input {
		width: 200px;
		transition: all 0.3s;
		@media (max-width: 450px) {
			width: 40px;
		}
		&.focus {
			width: 100%;
			:deep(input) {
				color: var(--main-color);
			}
			@media (max-width: 450px) {
				width: 60vw;
			}
			@media (max-width: 380px) {
				width: 54vw;
			}
			@media (max-width: 320px) {
				width: 50vw;
			}
		}
		:deep(.ant-input-prefix) {
			.anticon {
				transition: color 0.3s;
				&.active {
					color: var(--main-color);
				}
			}
		}
	}
	.list {
		position: absolute;
		top: 40px;
		right: 0;
		border-radius: 8px;
		width: 280px;
		z-index: 3;
		height: 100%;
		transition: height 0.3s;
		border: none;
		overflow-y: auto;
		&.hide {
			height: 0px;
		}

		@media (max-width: 450px) {
			position: fixed;
			width: 100%;
			top: 58px;
			right: 0;
			left: 0;
			border-radius: 0 0 8px 8px;
			z-index: 2006;
			// &::after {
			// 	position: absolute;
			// 	right: 0;
			// 	top: 0;
			// 	content: "×";
			// 	padding: 4px 12px;
			// 	font-size: 12px;
			// 	background-color: pink;
			// 	border-radius: 0 0 0 14px;
			// }
		}
		@media (min-width: 451px) {
			height: unset;
			max-height: 80vh;
		}
	}
}
